/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* 
Fonts:
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; 

Color:
#043873 {Primary Color}
#ffe492 {Login Button Color}
#4f9cf9 {Button Color}
*/
/* Basic CSS */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #c4defd;
  color: #ffff;
}
